openssl_conf=openssl_def
[openssl_def]
engines=engine_section
[engine_section]
afalg=afalg_section
kae=kae_section
[afalg_section]
engine_id=afalg
dynamic_path=/usr/local/lib/engine-1.1/afalg.so
default_algorithms=ALL
init=1
[kae_section]
engine_id=kae
dynamic_path=/usr/local/lib/engine-1.1/kae.so
KAE_CMD_ENABLE_ASYNC=1
default_algorithms=ALL
init=1

